<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
	<nav th:replace="layout :: header"></nav>
	<br />
	<br />
	<div class="jumbotron" th:object="${honnhan}">
		<h3 style="text-align: center;">
			<strong>CỘNG HO&Agrave; X&Atilde; HỘI CHỦ NGHĨA VIỆT NAM</strong>
		</h3>
		<h4 style="text-align: center;">Độc lập - Tự do - Hạnh
			ph&uacute;c</h4>
		<p style="text-align: center;">_____***_____</p>
		<h3 style="text-align: center;">Giấy Hẹn</h3><br/>
		<p th:text="'Mã hồ sơ đăng kí: '+${honnhan.id}"></p><br/>
		<p th:text="'Họ tên chồng:    '+${honnhan.namhoten}+'....................Họ tên vợ:  '+${honnhan.nu_hoten}"></p>
		<p th:text="'Ngày sinh:    '+${honnhan.nam_ngaysinh}+'.................................................Ngày sinh:  '+${honnhan.nu_ngaysinh}"></p>
		<p th:text="'Chứng minh số:    '+${honnhan.nam_cmnd}+'.................................Chứng minh số:  '+${honnhan.nu_cmnd}"></p>
		<p th:text="'Vào ngày: '+${honnhan.ngayhen}"></p>
		<div th:switch="${honnhan.idxa}">
			<div th:each="xa: ${xas}">
				<p th:case="${xa.id}"
					th:text="'Mời anh/chị mang theo những giấy tờ sau đến xã: ' + ${xa.name}+' để hoàn thành thủ tục đăng ký kết hôn'"></p>
			</div>
		</div>
		-Giấy xác nhận tình trạng hôn nhân<br/>
		-Chứng minh nhân dân/Hộ chiếu/Chứng minh thư<br/>
		-Hộ khẩu<br/>
		
		<hr width="100%" align="center" />
		<p>Yêu cầu khi đi mang theo giấy này !</p>
		<hr width="100%" align="center" />
		<br /><br /><br /><br /><br /><br />
	</div>
	<p>
		<script type="text/javascript">
			function returnprint() {
				window.print();
			}
		</script>
		<!--this.style.display='none';huy.style.display='none';  -->
		<a onclick="returnprint();" class="btn btn-primary btn-lg"
			role="button">In Giấy Hẹn</a> <a id="huy"
			th:href="@{/chuaxacminhlist}"
			class="btn btn-primary btn-lg btn-danger"> Huỷ</a>
	</p>
	<!-- /.container -->
	<br />
	<br />
	<br />
	<br />
	<br />
	<footer th:replace="layout :: footer"></footer>
</body>
</html>