<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
	<nav th:replace="layout :: header"></nav>
	<div class="container main-content list">
		<div th:if="${success}"
			class="row alert alert-success alert-dismissible">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<span th:text="${success}"></span>
		</div>
		<br /> <br /> <br /> <br /> <br />
		<th:block th:if="${#lists.isEmpty(honnhans)}">
			<h3>No honnhans</h3>
		</th:block>

		<th:block th:unless="${#lists.isEmpty(honnhans)}">
			<div class="row">
				<form class="form-inline pull-right" action="#"
					th:action="@{/honnhan/search}" method="GET">
					<div class="form-group">
						<input type="text" class="form-control" name="q"
							placeholder="Type honnhan name..." />
					</div>
					<button type="submit" class="btn btn-primary">Search</button>
				</form>
			</div>
			<br />
			<div class="row">
				
				<table class="table table-bordered table-hover" th:each="honnhan,iterStat : ${honnhans}">
					<thead>
					<th colspan="6"> <h1>Thông Tin Đơn</h1></th>
					</thead>
					<thead>
						<tr>
							<th>Người Duyệt</th>
							<th>Mã Đơn Đăng Ký</th>
							<th colspan="2">Nơi Đăng Ký</th>
							<th colspan="2">Trạng Thái</th>
						</tr>
					</thead>
					<tbody>
						<tr>

							<td th:text="${honnhan.name}"></td>
							<td th:text="${honnhan.madondangky}"></td>
							<td colspan="2" th:text="${honnhan.noidangky}"></td>
							<td colspan="2" th:text="${honnhan.trangthai}"></td>
						</tr>
					</tbody>
					<!-- Thông Tin Người Nam -->
					<thead>
						<tr>
							<td colspan="6"><h3>Người Nam</h3></td>
						</tr>
					</thead>

					<thead>
						<tr>
							<th>Họ Tên</th>
							<th>Ngày Sinh</th>
							<th>Dân Tộc</th>
							<th>Quốc Tịch</th>
							<th>Nơi Cư Trú</th>
							<th>Chứng Minh Nhân Dân</th>
						</tr>
					</thead>

					<tbody>
						<tr>

							<td th:text="${honnhan.nam_hoten}"></td>
							<td th:text="${honnhan.nam_ngaysinh}"></td>
							<td th:text="${honnhan.nam_dantoc}"></td>
							<td th:text="${honnhan.nam_quoctich}"></td>
							<td th:text="${honnhan.nam_noicutru}"></td>
							<td th:text="${honnhan.nam_cmnd}"></td>
						</tr>
					</tbody>

					<!-- Thông Tin Người Nam -->
					<thead>
						<tr>
							<td colspan="6"><h3>Người Nữ</h3></td>
						</tr>
					</thead>
					<thead>
						<tr>
							<th>Họ Tên</th>
							<th>Ngày Sinh</th>
							<th>Dân Tộc</th>
							<th>Quốc Tịch</th>
							<th>Nơi Cư Trú</th>
							<th>Chứng Minh Nhân Dân</th>
						</tr>
					</thead>
					<tbody>
						<tr>

							<td th:text="${honnhan.nu_hoten}"></td>
							<td th:text="${honnhan.nu_ngaysinh}"></td>
							<td th:text="${honnhan.nu_dantoc}"></td>
							<td th:text="${honnhan.nu_quoctich}"></td>
							<td th:text="${honnhan.nu_noicutru}"></td>
							<td th:text="${honnhan.nu_cmnd}"></td>
						</tr>
					</tbody>
					<thead>
						<tr>
							<td colspan="3"><a th:href="@{/honnhan/{id}/edit(id=${honnhan.id})}"><span
									class="glyphicon glyphicon-pencil"></span></a></td>
							<td colspan="3"><a th:href="@{/honnhan/{id}/delete(id=${honnhan.id})}"><span
									class="glyphicon glyphicon-trash"></span></a></td>
						</tr>
					</thead>
				</table>
			</div>

		</th:block>
	</div>
	<!-- /.container -->
	<br />
	<br />
	<br />
	<br />
	<br />
	<footer th:replace="layout :: footer"></footer>
</body>
</html>