<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
	<nav th:replace="layout :: header"></nav>

	<div class="container main-content list">
		<div th:if="${success}"
			class="row alert alert-success alert-dismissible">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<span th:text="${success}"></span>
		</div>

		<th:block th:if="${#lists.isEmpty(kethons)}">
			<h3>No kethons</h3>
		</th:block>

		<th:block th:unless="${#lists.isEmpty(kethons)}">
			<div class="row">
				<a th:href="@{/kethon/create}" class="btn btn-success pull-left">
					<span class="glyphicon glyphicon-plus"></span> Add new kethon
				</a>
				<form class="form-inline pull-right" action="#"
					th:action="@{/kethon/search}" method="GET">
					<div class="form-group">
						<input type="text" class="form-control" name="q"
							placeholder="Type kethon name..." />
					</div>
					<button type="submit" class="btn btn-primary">Search</button>
				</form>
			</div>
			<div class="row">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>No</th>
							<th>Huyện</th>
							<th>Xã</th>
							<!--Thông tin đơn  -->
							<th>Trạng Thái</th>
							<!--Thông tin nam  -->
							<th>Tên</th>
							<th>Ngày Sinh</th>
							<th>Cmnd</th>
							<th>Nơi Cấp</th>
							<th>Ngày Cấp</th>
							<th>Quốc Tịch</th>
							<th>Dân Tộc</th>
							<th>Số Lần Kết Hôn</th>
							<!--Thông tin nữ  -->
							<th>Tên</th>
							<th>Ngày Sinh</th>
							<th>Cmnd</th>
							<th>Nơi Cấp</th>
							<th>Ngày Cấp</th>
							<th>Quốc Tịch</th>
							<th>Dân Tộc</th>
							<th>Số Lần Kết Hôn</th>

							<!--Chức năng  -->
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="kethon,iterStat : ${kethons}">
							<td th:text="${iterStat.count}"></td>
							<td th:text="${kethon.huyen}"></td>
							<td th:text="${kethon.xa}"></td>
							<!--Thông tin đơn  -->
							<td th:text="${kethon.trangthai}"></td>
							<!--Thông tin nam  -->
							<td th:text="${kethon.nam_hoten}"></td>
							<td th:text="${kethon.nam_ngaysinh}"></td>
							<td th:text="${kethon.nam_cmnd}"></td>
							<td th:text="${kethon.nam_noicap}"></td>
							<td th:text="${kethon.nam_ngaycap}"></td>
							<td th:text="${kethon.nam_quoctich}"></td>
							<td th:text="${kethon.nam_dantoc}"></td>
							<td th:text="${kethon.nam_slkethon}"></td>
							<!--Thông tin nữ  -->
							<td th:text="${kethon.nu_hoten}"></td>
							<td th:text="${kethon.nu_ngaysinh}"></td>
							<td th:text="${kethon.nu_cmnd}"></td>
							<td th:text="${kethon.nu_noicap}"></td>
							<td th:text="${kethon.nu_ngaycap}"></td>
							<td th:text="${kethon.nu_quoctich}"></td>
							<td th:text="${kethon.nu_dantoc}"></td>
							<td th:text="${kethon.nu_slkethon}"></td>

							<td><a th:href="@{/kethon/{id}/edit(id=${kethon.id})}"><span
									class="glyphicon glyphicon-pencil"></span></a></td>
							<td><a th:href="@{/kethon/{id}/delete(id=${kethon.id})}"><span
									class="glyphicon glyphicon-trash"></span></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</th:block>
	</div>
	<!-- /.container -->

	<footer th:replace="layout :: footer"></footer>
</body>
</html>